<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-head">
            <div class="page-title">
                <h1>Tienda
                    <small>¡Aqui encontraras todos los componentes para tu ordenador al mejor precio!</small>
                </h1>
            </div>      
        </div>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a [routerLink] = "['index']">Inicio</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Elements</span>
            </li>
        </ul>
        <div class="row">
                <div class="col-md-2">
                        <div class="portlet light portlet-fit bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class=" icon-layers font-green"></i>
                                    <span class="caption-subject font-green bold uppercase">Filtros </span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        <div class="form-group form-md-line-input has-success">
                                        <input type="text" class="form-control" id="form_control_1" placeholder="Buscar por nombre del producto..." [(ngModel)] = "nombreFiltrar">
                                    </div>
                                    <div class="col-md-1"></div>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                                <div class="form-group form-md-line-input has-success"> 
                                                        <select class="form-control" id="form_control_1" [(ngModel)] = "categoriaSeleccionada"  (change) = "seleccionarMarca($event.target.value) || marcaSeleccionada = 'nada'" >
                                                            <option value="nada" selected >Selecciona categoría...</option>
                                                            <option *ngFor = "let categoria of categorias" value = "{{categoria.categoria}}">{{categoria.categoria}}</option>
                                                        </select>
                                                        <label for="form_control_1">Categoria</label>
                                                    </div>
                                        </div>
                                        <div class="col-md-1">      
                                        </div>
                                </div>
                                <div class="row" *ngIf = "categoriaSeleccionada != 'nada' && categoriaSeleccionada != undefined">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                                <div class="form-group form-md-line-input has-success"> 
                                                        <select class="form-control" id="form_control_1" [(ngModel)] = "marcaSeleccionada">
                                                            <option value="nada" selected>Selecciona marca...</option>
                                                            <option *ngFor = "let marca of marcas" value = "{{marca.marca}}">{{marca.marca}}</option>
                                                        </select>
                                                        <label for="form_control_1">Marca</label>
                                                    </div>
                                        </div>
                                        <div class="col-md-1">      
                                        </div>
                                </div>
                                <div class = "row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                                <label style = "color: #27a4b0" >Precio</label>
                                        </div>
                                        <div class="col-md-1"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <input type="number" class="form-control" id="form_control_precio_min" placeholder="MIN" [(ngModel)] = "precioMin">
                                            </div>
                                            <div class="col-md-1"> <b>_</b> </div>
                                            <div class="col-md-5">
                                                <input type="number" class="form-control" id="form_control_precio_max" placeholder="MAX" [(ngModel)] = "precioMax">
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
            <div class="col-md-10">
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class=" icon-layers font-green"></i>
                            <span class="caption-subject font-green bold uppercase">Productos</span>
                        </div>
                        <div class="actions">
                            <select class="form-control input-sm" (change) = 'ordenarProductos($event.target.value)'>
                                <option>Ordenar por...</option>
                                <option value = "caro">Más caros primero</option>
                                <option value = "barato">Más baratos primero</option>
                                <option value = "mValorados">Mejor valorados primero</option>
                            </select>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="mt-element-card mt-element-overlay">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor = "let producto of productos | filterMarcaCategoria: marcaSeleccionada | filter: nombreFiltrar | filterMarca: categoriaSeleccionada | filterPrecio: precioMin : precioMax">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1">
                                            <img src="../../assets/Imagenes/Productos/{{producto.Imagenprincipal}}.jpg" width = "50" height="50"/>
                                            <div class="mt-overlay">
                                                <ul class="mt-info">
                                                    <li>
                                                        <a class="btn default btn-outline"  (click) = "goProducto(producto.idproductos)">
                                                            <i class="fa fa-eye"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name">{{producto.nombre}}</h3>
                                            <p class="mt-card-desc font-grey-mint">{{producto.categoria}}</p>
                                             <div class="row">
                                                    <div class="col-md-12">
                                                            <div class="star-rating">
                                                                    <a href="#" *ngIf = "producto.valoracion >= 1">&#9733;</a>
                                                                    <a href="#" *ngIf = "producto.valoracion >= 2">&#9733;</a>
                                                                    <a href="#" *ngIf = "producto.valoracion >= 3">&#9733;</a>
                                                                    <a href="#" *ngIf = "producto.valoracion >= 4">&#9733;</a>
                                                                    <a href="#" *ngIf = "producto.valoracion >= 5">&#9733;</a>
                                                            </div> 
                                                     </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3><b>{{producto.precio}} €</b></h3>
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>